<div class='card'>
  <div class='card-header name'
       style="font-size: -webkit-xxx-large;text-align: center;
       font-weight: bold;color:cornflowerblue;background-color: blanchedalmond;
       height: 83px;">
    MODELS
  </div>
  <div class='card-body'>
    <div class='row'>
      <div class='col-md-2'>Search:</div>
      <div class='col-md-4'>
        <input type='text'
               [(ngModel)]='listFilter' />
      </div>
    </div>
    <br>
    <div class='table-responsive'>
      <table class='table'
             *ngIf='projects && projects.length'>
        <tbody>
        <tr *ngFor='let project of filteredproject'>

          <td>
            <a class="projectnames"  [routerLink]="['/view/'+username+'/'+project.Projecttitle]" style="font-size: x-large;padding-left: 34%;">
              {{ project.Projecttitle }}
            </a>
          </td>
          <button type="button" class="btn btn-outline-info" (click)="like(project.Projecttitle)">Like</button>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
