<!--<popup>{{eMessage}}</popup>-->

<div class="login-page" >
  <div class="login-content login-content-signin">
    <div>
      <h2>Log in</h2>
      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="wrapper-box" role="form">
      <!--<form class="wrapper-box" role="form">-->
        <div class="form-group">
          <label for="EmailID">EmailID</label>
          <input type="text" class="form-control"id="EmailID" formControlName="EmailID">
        </div>
        <div class="form-group">
          <label for="Password">Password</label>
          <input type="password" class="form-control" id="Password" formControlName="Password">
        </div>
        <button type="submit"  class="btn btn-info btn-lg">Signin</button>
      </form>
      <!--</form>-->
    </div>
  </div>
  <div class="login-switcher">
    <div class="login-switcher-signup">
      <h3>Don't have an account?</h3>
      <button routerLink="/signup">Sign Up</button>
    </div>
  </div>
